<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="text-center mt-5">Page not found 404</h1>
            <a class="btn btn-success" href="/dashboard">Go to home</a>
        </div>
    </div>
</div>
</body>
</html>